# Part1: Split data into training, validation and test set manually

Codes below are used to split Expedia data into training, validation and test set.

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib

from scipy.stats import skew
from sklearn.model_selection import train_test_split

In [2]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [3]:
print('training data has %d records'%len(train))
print('test data has %d records'%len(test))

training data has 9917530 records
test data has 6622629 records

In [4]:
cols_train_only = [col for col in train.columns.unique().tolist() if col not in test.columns.unique().tolist()]
print('Columns only available in training data:',cols_train_only)

Columns only available in training data: ['position', 'click_bool', 'gross_bookings_usd', 'booking_bool']

In [5]:
train = train.drop(columns = cols_train_only)
train.head()

,srch_id,date_time,site_id,visitor_location_country_id,visitor_hist_starrating,visitor_hist_adr_usd,prop_country_id,prop_id,prop_starrating,prop_review_score,...,comp5_rate_percent_diff,comp6_rate,comp6_inv,comp6_rate_percent_diff,comp7_rate,comp7_inv,comp7_rate_percent_diff,comp8_rate,comp8_inv,comp8_rate_percent_diff
0,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,893,3,3.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN
1,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,10404,4,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN
2,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,21315,3,4.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN
3,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,27348,2,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.0,0.0,5.0
4,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,29604,4,3.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN

In [12]:
# combine train and test data
all_data = pd.concat([train, test], ignore_index=True)
all_data.head()

,srch_id,date_time,site_id,visitor_location_country_id,visitor_hist_starrating,visitor_hist_adr_usd,prop_country_id,prop_id,prop_starrating,prop_review_score,...,comp5_rate_percent_diff,comp6_rate,comp6_inv,comp6_rate_percent_diff,comp7_rate,comp7_inv,comp7_rate_percent_diff,comp8_rate,comp8_inv,comp8_rate_percent_diff
0,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,893,3,3.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN
1,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,10404,4,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN
2,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,21315,3,4.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN
3,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,27348,2,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.0,0.0,5.0
4,1,2013-04-04 08:32:15,12,187,NaN,NaN,219,29604,4,3.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN

In [13]:
print('Whole dataset has %d records' % len(all_data))

Whole dataset has 16540159 records

In [14]:
# clean date_time feature
def clean_date_time(df):
    '''
    this function takes in a dataframe, and output a dataframe with clean resp time.
    input: data frame;
    output: data frame with nice-formatted resp_time
    '''
    df['date_time'] = pd.to_datetime(df.date_time)
    df.sort_values(by=['date_time'],inplace=True)
    df.date_time = df.date_time.astype('str')
    df.date_time = df.date_time.apply(get_date)    
    df = df.groupby('date_time').mean()
    df = df.reset_index()
    return df


all_data['date_time'] = pd.to_datetime(all_data.date_time)
all_data.sort_values(by=['date_time'],inplace=True)

In [20]:
all_data_ = all_data.drop(columns=['index','level_0'])
all_data_.head()

,srch_id,date_time,site_id,visitor_location_country_id,visitor_hist_starrating,visitor_hist_adr_usd,prop_country_id,prop_id,prop_starrating,prop_review_score,...,comp5_rate_percent_diff,comp6_rate,comp6_inv,comp6_rate_percent_diff,comp7_rate,comp7_inv,comp7_rate_percent_diff,comp8_rate,comp8_inv,comp8_rate_percent_diff
0,365278,2012-11-01 00:01:37,24,216,NaN,NaN,225,24202,3,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,365278,2012-11-01 00:01:37,24,216,NaN,NaN,225,327,4,4.5,...,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,365278,2012-11-01 00:01:37,24,216,NaN,NaN,225,20797,3,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,365278,2012-11-01 00:01:37,24,216,NaN,NaN,225,53733,3,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,365278,2012-11-01 00:01:37,24,216,NaN,NaN,225,57269,4,4.5,...,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

For manually splitting dataset, I first split whole dataset into training(0.8) and test set(0.2), then within training set I further split it into training set(0.8) and validation set (0.2).

In [30]:
# Approach1: split data manually
training_data = all_data_[0: 10585701]
validation_data = all_data_[10585701:13232127]
test_data = all_data_[13232127:16540160]

In [34]:
print('training set has %d records'%len(training_data))
print('validation set has %d records'%len(validation_data))
print('test set has %d records'%len(test_data))

training set has 10585701 records
validation set has 2646426 records
test set has 3308032 records

In [48]:
training_data.to_csv('training_set_manually.csv',encoding = 'utf-8',index = False)
# validation_data.to_csv('validation_set_manually.csv',encoding = 'utf-8',index = False)
# test_data.to_csv('test_set_manually.csv',encoding = 'utf-8',index = False)

reference: https://stats.stackexchange.com/questions/101066/split-train-validation-test-sets-by-time-is-it-correct

In [41]:
# Approach2: timeseries split
from sklearn.model_selection import TimeSeriesSplit

features = [col for col in all_data_.columns.unique().tolist() if col != 'price_usd']
target = ['price_usd']

X = all_data_[features]
y = all_data_[target]

tscv = TimeSeriesSplit(n_splits=5)

In [47]:
for train_index, test_index in tscv.split(X,y):
    print("TRAIN:", train_index, "TEST:", test_index)    
    X_train, X_test = X.iloc[train_index], X.iloc[test_index]
    y_train, y_test = y.iloc[train_index], y.iloc[test_index]
    
    # TODO: build model
    # TODO: evaluate accuracy

TRAIN: [      0       1       2 ... 2756691 2756692 2756693] TEST: [2756694 2756695 2756696 ... 5513384 5513385 5513386]
TRAIN: [      0       1       2 ... 5513384 5513385 5513386] TEST: [5513387 5513388 5513389 ... 8270077 8270078 8270079]
TRAIN: [      0       1       2 ... 8270077 8270078 8270079] TEST: [ 8270080  8270081  8270082 ... 11026770 11026771 11026772]
TRAIN: [       0        1        2 ... 11026770 11026771 11026772] TEST: [11026773 11026774 11026775 ... 13783463 13783464 13783465]

KeyboardInterrupt: